.dataContainer {
  padding: 2rem;
  width: 20rem;
  text-align: center;
}

.query {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 650px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.1rem 0.2rem 0.7rem 0.06rem black;
  border-radius: 2%;
  padding: 1rem;
  background-color: white !important;
}

.table {
  height: 325px;
}
