.dataContainer {
  padding: 2rem;
  width: 20rem;
  text-align: center;
}

.customer-info {
  text-align: center;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.1rem 0.2rem 0.7rem 0.06rem black;
  border-radius: 2%;
  padding: 3rem;
}
