html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: auto;
  display: flex;
  margin: 0;
  background: rgb(36, 70, 242);
  background: linear-gradient(
    90deg,
    rgba(36, 70, 242, 1) 0%,
    rgba(70, 233, 252, 1) 45%,
    rgba(70, 233, 252, 1) 55%,
    rgba(36, 70, 242, 1) 100%
  );
}
.App {
  height: 100%;
}

.mainContainer,
.header,
.img,
.layout,
.header-layout,
.content,
.col,
.content-layout {
  background-color: white !important;
}

.mainContainer,
.header,
.header-layout,
.content,
.App {
  display: flex;
  align-items: center;
}

.mainContainer,
.layout,
.row {
  height: 100%;
}
.mainContainer,
.header,
.content {
  flex-direction: column;
}

.mainContainer,
.header-layout,
.App {
  justify-content: center;
}

.mainContainer {
  padding: 2rem;
}

.header-layout {
  margin: 2rem;
}

.content {
  height: 100%;
  padding: 3rem;
}

.img {
  margin-bottom: 3rem;
}
